@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*

VARIAVEIS DE CORES

#c5ebd6
#83e1ad
#3ddc84
#2fa886
#1a5c37
#063d1e

*/

:root {

    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa886;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-destaque: 'Bebas Neue', Arial;
    --font-android: 'Android', Arial;
}
/*ELEENTOS GLOBAIS */
* {
    margin: 0px;
    padding: 0px;
}
/*Body*/
body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}
/*CABEÇALHO E NAVBAR*/
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.493);
    font-size: 3em;
    font-weight: normal;
}
header > p {
    color: white;
    font-family: var(--font-padrao);
    max-width: 500px;
    margin: auto;

    padding: 0px 10px;
}
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.397);

}
nav > a{
    text-decoration: none;
    font-family: var(--font-padrao);
    color: white;
    padding: 10px;
    font-weight: bold;

    transition-duration: 1s;

}
nav >a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    animation-duration: 1s;
}
/*MAIN E SEUS CONTEUDOS*/
main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;

    min-width: 300px;
    max-width: 800px;
    margin: auto;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}
main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1em;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}
a.externo::after{
    content: '\00A0\1F517';
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}
main  h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: 1.8em;
}
main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);

    
}
.video {
    background-color: var(--cor3);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 89.5%;
}
aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}
aside > ul{
    list-style-type: '\2714\00A0\00A0'; 
    list-style-position: inside;
    columns: 2;
}
aside h1{
    background-color: var(--cor4);
    margin: -10px -10px;
    color: white;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
}
/* 
'\2714' = Simbolo de Verificado ✓ 
'\00A0' = Equivalente a um espaço
*/
footer {
    margin-top: 50px;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;

}
footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor1);
    text-decoration: underline;
}